
.test {
	background-color: #324151;
	border-color: #F4F5F3;
	color: #98917C;
	color: #96928C;
	color: #8B7871;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Gloria Hallelujah', cursive;
}

.title-center {
	text-align: center;
}

.row {
	position: relative;
}


.img-holder {
	float: left;
	position: relative;
	margin: 20px 0px 20px 50px;
}

.img-text {
	position: absolute;
	top: 125px;
	padding: 15px 63px 15px 63px;
	font-size: 24px;
	background: #BFF406;
	color: lightslategray;
}

